extends layout

block content
	include small-info
	.container
		.row
			.span4
				img(src="#{event.user.picture}")
			.span5
				h2.street-performer #{event.user.artist_name}
				p #{event.user.description}
				.location 
					strong Location
					|  #{event.location}
				.time 
					strong Time
					|  From #{event.start} to #{event.end}
					<br><Br>
				.give-a-tip
					a.btn(href='#') Give a Tip
					<Br><br>
				.tweet
					a(href="https://twitter.com/intent/tweet?button_hashtag=buskerue#{event.slug}", class="twitter-hashtag-button", data-size="large", data-related="buskerue", data-url="http://buskerue.com/event/#{event.slug}") Tweet #buskerue123
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
			.span3
				h2.twitter-activity Twitter Activity
				each tweet in tweets
					.item
						p #{tweet.text}
						hr

