extends layout

block content
	include small-info
	.container
		.row
			.span4
				img(class="media-object", data-src="holder.js/370x300")
			.span5
				h2.street-performer #{event.user.artist_name}
				p #{event.user.description}
				.location 
					strong Location
					|  #{event.location}
				.time 
					strong Time
					|  From #{event.start} to #{event.end}
				.give-a-tip
					a(href='#') Give a Tip
				.tweet
					a(href="https://twitter.com/intent/tweet?button_hashtag=buskerue#{event.slug}", class="twitter-hashtag-button", data-size="large", data-related="buskerue", data-url="http://buskerue.com/event/#{event.slug}") Tweet #buskerue123
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
			.span3
				h2.twitter-activity Twitter Activity
                each tweet in tweets
                    .item
                        p #{tweet.slug}
                            strong
                                a(href='/events/#{event.slug}') #{event.user.artist_name}
                        .location #{event.location}
                        .time From #{event.start} to #{event.end}
				.item
					p Killer set on Royal <a href='#'>@Dogshit</a> <a href='#'>#trouvere131</a> <a href='#'>#NOLA</a> <a href='#'>http://t.co/12123</a>
				.item
					p Killer set on Royal <a href='#'>@Dogshit</a> <a href='#'>#trouvere131</a> <a href='#'>#NOLA</a> <a href='#'>http://t.co/12123</a>
				.item
					p Killer set on Royal <a href='#'>@Dogshit</a> <a href='#'>#trouvere131</a> <a href='#'>#NOLA</a> <a href='#'>http://t.co/12123</a>
				.item
					p Killer set on Royal <a href='#'>@Dogshit</a> <a href='#'>#trouvere131</a> <a href='#'>#NOLA</a> <a href='#'>http://t.co/12123</a>
				.item
					p Killer set on Royal <a href='#'>@Dogshit</a> <a href='#'>#trouvere131</a> <a href='#'>#NOLA</a> <a href='#'>http://t.co/12123</a>
