extends layout

block content
	include small-info
	#event.container
		.row
			.span5
				h2.street-performer #{event.user.artist_name}
				p!= event.user.description.replace(/\n/g, '<br />')
				.location 
					strong Location
					|  #{event.location}
				.data
					strong Date 
					span.date #{event.start}
				.time 
					strong Time
					|  From <span class='starttime'>#{event.start}</span> to <span class='endtime'>#{event.end}</span>
				- if(event.user.digital_tip_jar_url)
					.tip
						a.button(target='_blank', href='#{event.user.digital_tip_jar_url}') Give #{event.user.artist_name} a Tip
				- if(user)
					.user
						a.button(href='/events/#{event.slug}/delete') Delete Event
			.span3
				h2.twitter-activity Twitter Activity
				each tweet in tweets
					.item
						p #{tweet.text}
						p #{tweet.screen_name}
				.tweet
					a(href="https://twitter.com/intent/tweet?button_hashtag=buskerue_#{event.slug}", class="twitter-hashtag-button", data-size="large", data-related="buskerue", data-url="http://buskerue.com/event/#{event.slug}") Tweet #buskerue_#{event.slug}
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
			- if(event.user.picture)
				.span4
						img(src="#{event.user.picture}?w=370")
