extends layout

block content
	include small-info
	#event
		.container
			.row
				.span8
					#map
				.span4
					h2 Now Drawing a Crowd!
					hr
					each event in events
						.item
							.band
								strong
									a(href='/events/#{event.slug}') #{event.user.artist_name}
							.location #{event.location}
							.time From #{event.start} to #{event.end}
		.container
			.row
				.span12
					hr
					h2 Are you a street performer? 
						a(href='/auth/twitter') Create a Profile

	script(src='//cdn.leafletjs.com/leaflet-0.5/leaflet.js')